.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 350px;
    position: relative;
    margin-bottom: 15px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    flex: 0 0 auto;
}

.carousel img {
    width: 100%;
    height: 350px;
    object-fit: fill;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-prev,
.carousel-next {
    cursor: pointer;
    font-size: 34px; /* Điều chỉnh kích thước của mũi tên */
    color: #333; /* Màu sắc của mũi tên */
    background-color: rgb(225, 205, 205);
    border: none;
    outline: none;
    transition: color 0.3s ease;
    width: 30px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.carousel-prev:hover,
.carousel-next:hover {
    color: #555; /* Màu sắc của mũi tên khi di chuột qua */
    background-color: gray;
}

.carousel-prev {
    margin-left: 10px;
}

.carousel-next {
    margin-right: 10px;
}

@media (max-width: 700px)
{
    .carousel {
        height: 250px;
    }

    .carousel img {
        height: 250px;
    }
}

@media (max-width: 480px)
{
    .carousel {
        height: 200px;
    }

    .carousel img {
        height: 200px;
    }
}